@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start Code*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
}
header {
    grid-area: header;
    padding-top: 180px;
}
header img {
    width: 100%;
}
h1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
h3{
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}
nav a, nav span, menu li, #social li, footer{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}
p, dd, li, nav, input{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
dt{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#need{
    background-color: #7ABFBF;
}
menu{
    display: flex;
    justify-content: space-evenly;
    max-width: 414px;
    margin: 20px 20px 20px 0;
    list-style: none;
}
menu li{
    color: #EB5428;
    justify-content: center;
}
menu li a{
    list-style: none;
    text-decoration: none;
    display: grid;
    justify-content: center;
}
menu li a:hover{
    background-color: #EB5428;
    color: #F2F2F2;
}
menu li svg:hover{
    background-color: transparent;
    stroke: #F2F2F2;
}
.streettacos img{
    max-width: 414px;
    display: flex;
}
.streettacos p{
    max-width: 414px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0;
    padding: 0 10px;
}
#details dl{
    display: flex;
    margin-left: 10px;
}
#ingredients{
    display: flex;
    flex-direction: column;
    max-width: 414px;
    margin: 10px;
}
