@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start Code*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #F2F2F2;
    max-width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
}
header {
    grid-area: header;
    padding-top: 180px;
}
header img {
    width: 100%;
}
h1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
h3{
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}
h4{
    display: none;
}
nav a, nav span, menu li, #social li, footer{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}
p, dd, li, nav, input{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
dt{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#need{
    background-color: #7ABFBF;
}
menu{
    display: flex;
    justify-content: space-evenly;
    max-width: 414px;
    margin: 20px 20px 20px 0;
    list-style: none;
}
menu li{
    color: #EB5428;
    justify-content: center;
}
menu li a{
    list-style: none;
    text-decoration: none;
    display: grid;
    justify-content: center;
}
menu li a:hover{
    background-color: #EB5428;
    color: #F2F2F2;
}
menu li svg:hover{
    background-color: transparent;
    stroke: #F2F2F2;
}
.streettacos img{
    max-width: 414px;
    display: flex;
}
.streettacos p{
    max-width: 414px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0;
    padding: 0 10px;
}
#Details dl{
    display: flex;
    margin-left: 10px;
}
#Ingredients{
    display: flex;
    flex-direction: column;
    max-width: 414px;
    margin: 10px;
}
#Ingredients h2{
    display: flex;
    max-width: 414px;
    justify-content: center;
}
#Ingredients ul{
    display: flex;
    flex-direction: column;
    max-width: 414px;
    justify-content: center;
    list-style-type: inherit;
    padding-left: 10px;
    margin-left: 10px;
}
#Directions{
    display: flex;
    flex-direction: column;
    max-width: 414px;
    justify-content: center;
    margin: 10px 0 10px 20px;
}
#Directions ol{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-top: 10px;
    margin-left: 10px;
    list-style: decimal;
}
#Directions ol li{
    margin-bottom: 10px;
}
#Directions h2{
    display: flex;
    justify-content: center;
    max-width: 414px;
    padding-bottom: 20px;
}
aside{
    display: flex;
    flex-direction: column;
    max-width: 441px;
    background-color: #7ABFBF;
    padding: 10px;
}
aside h2{
    display: flex;
    max-width: 414px;
    justify-content: center;
    padding-bottom: 20px;
}
.sides{
    display: flex;
    max-width: 414px;
    justify-content: flex-start;
    grid-template-columns: 1fr;
}
.sides img{
    width: 100%;
    margin: 10px;
}
.sides h2, .sides p, .sides .rating{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-left: 10px;
    margin: 10px;
}
.sides .rating h3 a{
    list-style: none;
    text-decoration: none;
    display: grid;
    color: #0D0D0D;
}
.sides:hover{
    background-color: #7ABFBF;
}
.rating svg:last-child{
    fill: #F2F2F2;
}
.star svg:last-child{
    fill: #EB5428;
}
nav{
    grid-area: nav;
    min-width: 414px;
    background-color: #F2F2F2;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index: 5;
}
nav ul{
    grid-area: hamburger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img{
    display: none;
}
nav li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #EB5428;
}
nav label{
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 10px;
    left: 25px;
}
nav span{
    display: block;
    position: relative;
}
nav label svg{
    display: block;
}
label span::before, label span::after{
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input{
    display: none;
}
nav input:checked ~ ul{
    max-height: 550px;
}
nav h3, footer h2, footer h3, aside dd{
    visibility: hidden;
    height: 1px;
    width: 1px;
}
#logo{
    background-color: #EB5428;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 150px;
    padding: 0px 40px;
    height: 20px;
}
#signin{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 300px;
    padding-top: 0%;
    color: #0D0D0D;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
}
#signin svg{
    display: flex;
    color: #0D0D0D;
}
#signin:hover{
    color: #F2F2F2;
    background-color: #EB5428;
    stroke: #F2F2F2;
}
form{
    display: flex;
    position: absolute;
    min-width: 414px;
    justify-content: center;
    align-items: center;
    top: 100px;
}
form label{
    display: none;
}
form input{
    margin: 0;
    background-color: #F2F2F2;
    padding: 13px 0px;
    border: 3px solid #EB5428;
}
form input:hover{
    border: 3px solid #0D0D0D;
}
button{
    background-color: #EB5428;
}
footer{
    max-width: 414px;
    background-color: #F2F2F2;
}
footer h2{
    display: none;
}
#social{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 20px 100px 0px;
}
#social a{
    list-style: none;
    text-decoration: none;
    display: grid;
    max-width: 414px;
    color: #EB5428;
}
#social a svg:hover{
    background-color: #7ABFBF;
}
#good{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #F2F2F2;
}
#good img{
    display: flex;
    grid-row: 1;
    max-width: 50%;
    height: auto;
    margin: 0 20%;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#good small{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}